<div class="d-flex align-items-center flex-column justify-content-center h-100" id="header">
  <h2">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "form-control form-control-lg" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
      <button class="btn btn-info btn-lg btn-block" type="submit">Sign Up</button>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
