<%= link_to "Back", root_path, class: "btn btn-sm btn-primary" %>
<h2><%= @user.username %></h2>
<h4>Followers</h4>

<% if @user.followers.present? %>
  <ul class="list-group">
    <% @user.followers.each do |follower| %>
      <li class="list-group-item"><%= follower.username %></li>
    <% end %>
  </ul>
<% else %>
  No one is following.
<% end %>

<hr/>

<h4>Followings</h4>

<% if @user.followings.present? %>
  <ul class="list-group">
    <% @user.followings.each do |following| %>
      <li class="list-group-item"><%= following.username %></li>
    <% end %>
  </ul>
<% else %>
  Not following to anyone.
<% end %>
<br/><br/>
<% if current_user.follow?(@user) %>
  <%= button_to "Unfollow",
    follower_path(@user.id),
    method: :delete,
    class: 'btn btn-danger'
  %>
<% elsif current_user != @user %>
  <%= button_to "Follow",
    followers_path,
    method: :post,
    params: {users_follower: {user_id: @user.id}},
    class: 'btn btn-primary'
  %>
<% end %>

