<div class="d-flex align-items-center flex-column justify-content-center h-100" id="header">
  <h2>Change your password</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <div class="form-group">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password",placeholder: "New Password", class: "form-control form-control-lg" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Confirm New Password", class: "form-control form-control-lg" %>
    </div>

    <div class="form-group">
      <button class="btn btn-info btn-lg btn-block" type="submit">Change my password</button>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
